
body {
  background-color: #eee;
  color: #244751;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  background-color: white;
  margin: 80px auto 0;
  width: 450px;
}

@media (max-width: 768px) {
  .container {
    margin: 0;
    width: 100%;
  }

}