#nav-bar {
  position: fixed;
  background-color: #00a087;
  color: #e8fdff;
  top: 0;
  height: 80px;
  width: 100%;
  padding-right: 2em;
  padding-left: 2em;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
  margin-left: 10px;
  margin-bottom: 0px;
}

button {
  border-radius: 10px;
  border: solid 2px black;
  height: 70px;
  width: 140px;
  float: right;
  margin: 5px;
  padding: 0px;
  background-color: white;
  font-size: 1.5em;
  color: #00a087;
  opacity: .75;
}

button:hover {
  opacity: 1;
  color: black;
}

.compose {
  margin: 0px;
}