#navBar {
  position: fixed;
  background-color: #00a087;
  color: #e8fdff;
  top: 0;
  height: 80px;
  width: 100%;
  padding-right: 2em;
  padding-left: 2em;
  z-index: 1;
}

#navBar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#navBar .gif {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 32px;
  display: none;
}

#navBar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
  margin-left: 10px;
  margin-bottom: 0px;
}

#navBar button {
  border-radius: 10px;
  border: solid 2px black;
  height: 70px;
  width: 140px;
  float: right;
  margin: 5px;
  padding: 0px;
  background-color: white;
  font-size: 1.5em;
  color: #00a087;
  opacity: .8;
}

#navBar button:focus {
  outline: none;
}

#navBar button:hover {
  opacity: 1;
  color: black;
}

.compose {
  margin: 0px;
}


@media (max-width: 500px) {
  #navBar {
    width: 100%;
  }
  #navBar .logo {
    width: 25%;
    margin: 0px;
  }
  #navBar .header {
    width: 25%;
    margin: 0px;

  }
  #navBar button {
    width: 50%
    margin: 0px;
  }
}