.new-tweet {
  border-radius: 7px;
  margin: 0 2em 2em 2em;
  background-color: #eee;
  padding: 10px;
}

h2 {
  border-bottom: solid 1px;
  text-align: left;
  margin-top: 0px;
}

.counter {
  float: right;
  margin-top: 5px;
}

textarea {
  width: 100%;
}
