.new-tweet {
  border-radius: 7px;
  border: solid 1px #d9d9d9;
  margin: 0 2em 2em 2em;
  background-color: #eee;
  padding: 10px;
}

.new-tweet h2 {
  border-bottom: solid 1px;
  text-align: left;
  margin-top: 0px;
}

.counter {
  float: right;
  margin-top: 5px;
}

.new-tweet textarea {
  width: 100%;
  padding: .5em;
}
