#tweet-container article {
  border-radius: 10px;
  border: solid 1px #d9d9d9;
  margin: 2em;
}

#tweet-container article:hover {
  border-radius: 10px;
  border: solid 1px #666666;
}

article header {
  background-color: #eee;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 70px;
  opacity: .5;
}

article img {
  border-radius: 10px;
  margin: 10px;
  float: left;
}

.full-name {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
}

.id-name {
float: right;
margin-top: 15px;
margin-right: 10px;
}

article p {
  padding: 1em;
  word-wrap: break-word;
}

article footer {
  border-top: solid 1px #eee;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 40px;
}

.date {
  line-height: 2.5em;
  margin: 10px;
}

.icons {
  float: right;
  margin: 10px;
  display: none;
  color: #00a087;
}

.redHeart {
  color: red;
}

.blueRetweet {
  color: blue;
}

.orangeFlag{
  color: orange;
}