article footer {
  border-top: solid 1px #eee;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 40px;
}
article header {
  background-color: #eee;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 70px;
  opacity: .5;
}
article img {
  border-radius: 10px;
  margin: 10px;
  float: left;
}
article p {
  padding: 1em;
  word-wrap: break-word;
}

#tweetContainer article {
  border: solid 1px #d9d9d9;
  border-radius: 10px;
  margin: 2em;
}

#tweetContainer article:hover {
  border: solid 1px #666666;
  border-radius: 10px;
}

.blueRetweet {
  color: blue;
}

.date {
  line-height: 2.5em;
  margin: 10px;
}

.fullName {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
}

.icons {
  color: #00a087;
  display: none;
  float: right;
  margin: 10px;
}

.idName {
float: right;
margin-top: 15px;
margin-right: 10px;
}

.orangeFlag{
  color: orange;
}

.redHeart {
  color: red;
}

@media (max-width: 768px) {
  article img {
    height: 80%;
    margin: 0;
    width: 15%;
  }

  .fullName {
    margin: 0;
    width: 75%;
  }

  .idName {
    float: none;
    margin: 0;
  }

  #tweetContainer article {
    margin-top: 80px;
  }

}